{% load static %}
<html>
    <head>
        <title>Le blog de la brique</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
   <body>
    <div class="page-header">
        <h1><a href="/"><strong>Le blog de la Brique  </strong></a> <img src="https://www.prosiref.com/media/catalog/product/cache/ed18d62c9a3aebf997f317e9f823aa94/b/r/brique_1000_1400_2.png"  width="200 "height="200"/> </h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>